%select{name: "country_select", id: "country-select"}
  %option{:value => ''} Select Country

%select{name: "State_select", id: "state-select"}
  %option{:value => ''} Select State

%select{name: "city_select", id: "city-select"}
  %option{:value => ''} Select City
